body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.container{
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: aqua;
}
input{
    border-radius: 5px;
    height: 25px;
}